{% extends "@FOSUser/fosuser_layout.html.twig" %}
{% block headtitle %}Profil – {{ parent() }} {% endblock %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-profile overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-profile">
                        {% if user.roles|length > 1 %}
                            <h2 id="adminProfile">{{ user.username }}</h2>
                            <h3>Admin Naturaliste</h3>
                        {% else %} 
                            <h2 id="userProfile">{{ user.username }}</h2>
                        {% endif %} 
                    </div>
                </div>
            </div>
    </header>

	{% block fos_user_content %}
	{% include "@FOSUser/Profile/show_content.html.twig" %}
	{% endblock fos_user_content %}

{% endblock %}