{% block sidebar %}

    <div class="container">
        <h3>les derniers </h3>
        <h2>scores</h2>
        <section class="article-container">

        </section>

    </div>
    <div class="container">
        <h3>Les meilleurs observateurs </h3>
        <h2>du mois</h2>
        <section class="article-container">

        </section>
    </div>
    <div class="container">
        <h3>Les meilleurs observateurs </h3>
        <h2>de l'année</h2>
        <section class="article-container">

        </section>

    </div>

{% endblock %}