/.web-server-pid
# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

# Assets
/web/bundles/

# Ide folder
/.idea/

NAO_Projet5.iml

# Backup entities generated with doctrine:generate:entities command
src/NAO/BlogBundle/Entity/*~
src/NAO/CoreBundle/Entity/*~
src/NAO/GameBundle/Entity/*~
src/NAO/MapBundle/Entity/*~

# Composer PHAR
/composer.phar