/.web-server-pid
# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

# Assets
/web/bundles/

# Ide folder
/.idea/

NAO_Projet5.iml

# Composer PHAR
/composer.phar

node_modules/
assets/css/global.scss
composer.lock
composer.lock
src/NAO/BlogBundle/Entity/Article.php~
*.php~
