{% block footer %}
    <footer class="footer_area">
        <div class="container">
        <div class="footer_row row">
            <div class="col-md-3 col-sm-6 footer_about">
                <img src="{{ asset('bundles/naocore/img/logo-nao-jaune.png') }}" alt="Logo NAO">
                <ul class="socail_icon">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer_about quick">
                <h2>Information Légales</h2>
                <ul class="quick_link">
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Mention Légales</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Condition général d'utilisation</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Plan du site</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer_about quick">
                <h2>Nos Partenaires</h2>
                <ul class="quick_link">
                    <li><a href="#"><i class="fa fa-chevron-right"></i>L.P.O.</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Oisillion.net</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Ornithomedia.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer_about">
                <h2>Nous contacter</h2>
                <address>
                    <p>Vous avez des questions:</p>
                    <ul class="my_address">
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>info@thethemspro.com</a></li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+880 123 456 789</a></li>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>18 rue des Grives, 31830 PLAISANCE DU TOUCH </span></a></li>
                    </ul>
                </address>
            </div>
        </div>
        </div>
        <div class="copyright_area">
            Copyright 2017 All rights reserved. Designed by <a href="#">ENVF.</a>
        </div>
    </footer>
{% endblock %}