{% extends "@FOSUser/fosuser_layout.html.twig" %}
{% block headtitle %}Inscription – {{ parent() }}{% endblock %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-register overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-register">
                        <h2>Inscription</h2>
                        <h3>Venez avec nous contribuer au recensement des espèces sur le territoire et soutenir le programme de recherche sur la biodiversité</h3>

                    </div>
                </div>
            </div>
    </header>

	{% block fos_user_content %}
	{% include "@FOSUser/Registration/register_content.html.twig" %}
	{% endblock fos_user_content %}

{% endblock %}