{# views/blog/Advert/add.html.twig #}

{% extends "blog/layout.html.twig" %}

{% block body %}

    <h2>Ajouter une annonce</h2>

    {{ include("blog/form.html.twig") }}

    <p>
        Attention : cette article sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}