{% extends "layout.html.twig" %}

{% block body %}
<main role="main" class="container" id="pageComment">

{#     <header class="header-area-profile overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-lg-6 col-md-7 header-text-profile-edit">
                        <h2>Ajouter un commentaire</h2>
                    </div>
                </div>
            </div>
    </header> #}


    <h2>Ajouter un commentaire</h2>

    {{ include("blog/commentForm.html.twig") }}

    <p>
        Attention : ce commentaire sera ajoutée directement
        sur la page de l'article après validation du formulaire.
    </p>
</main>
{% endblock %}