
{% extends "layout.html.twig" %}
{% block headtitle %}Modifier l'article – {{ parent() }}{% endblock %}

{% block body %}
<main role="main" class="container" id="pageEditArticle">

    <h2>Modifier l'article</h2>

    {{ include("blog/articleForm.html.twig") }}

    <p class="textWarning">
        Vous éditez un article déjà existant, merci de ne pas changer l'esprit générale de l'article déjà publié.
    </p>

    <div class="buttonBlog">
        <a href="{{ path('article', {'id': article.id}) }}" class="btn btn-light">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <p>Retour à l'article</p>
        </a>
    </div>
</main>

{% endblock %}