{# app/Ressource/views/user/index.html/twig #}

{% extends 'layout.html.twig' %}

{% block body %}
    <!--Header-area-->
    <header class="header-area-register overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
            <div class="container">
                <div class="row v-center">
                    <div class="col-xs-12 col-md-7 header-text-register">
                        <h2>Liste des Utilisateurs</h2>
                    </div>
                </div>
            </div>
    </header>

    <main role="main" class="container" id="pageLogin">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% for role in user.roles %}
                                {{ role }},
                            {% endfor %}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}