<div class="observation-validate-content">
    <span>
        <img class="circle" src="" alt="Photo de profil"/>
    </span>
    <div class="observation-validate-detail">
        <a href=""
           class="bleen"></a>
        <p></p>
    </div>
</div>